.parent{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content:space-evenly;
    height: 100vh;
    align-items: center;
    
}
.child1{
    border: 2px solid blue;
    width: 400px;
    height: 400px;
}
.child2{
    border: 2px solid green;
    width: 400px;
    height: 400px;

}